# Requires python 3.10+

--extra-index-url https://download.pytorch.org/whl/cpu

aiohttp>=3.13
array_record>=0.8
attrs>=18.1
cascade-config
datasets>=4.2
dlinfo
docstring_parser>=0.17
einops>=0.6
epitran
etils>=1.5
evaluate
fsspec>=2024.3
huggingface_hub>=0.35
immutabledict>=4.1
importlib_resources>=6.4
ipympl
ipywidgets
joblib
jupyter
matplotlib
numpy>=2.2
openpyxl
pandas>=2.3
papermill
pillow>=10
psutil>=5.9
pyarrow>=21
pydantic
pyyaml>=6
regex>=2024.5.15
requests>=2.32
safetensors>=0.4
segments
setuptools>=61.0
simple-parsing>=0.1.7
scikit-learn>=1.7
scipy>=1.15
sentence-transformers>=5.0
tensorflow-datasets>=4.9
tensorflow-metadata>=1.17
tiktoken>=0.5
tokenizers>=0.22
torch
tqdm>=4.67
transformers[torch]>=4.57
typing-extensions
vega-datasets>=0.9
wandb>=0.22
zipp>=3.19
